@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/hk-grotesk/");
  src: url("../fonts/hk-grotesk/?#iefix") format("embedded-opentype"),
    url("../fonts/hk-grotesk/HKGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/hk-grotesk/HKGrotesk-Regular.woff") format("woff"),
    url("../fonts/hk-grotesk/HKGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_sans/");
  src: url("../fonts/Open_sans/?#iefix") format("embedded-opentype"),
    url("../fonts/Open_sans/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/Open_sans/OpenSans-Light.woff") format("woff"),
    url("../fonts/Open_sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */

.hk {
  font-family: "HK Grotesk";
}

/* .os {
  font-family: "Open Sans";
} */
