@media (max-width: 890px) {
  nav {
    width: 65%;
  }
}

@media (max-width: 755px) {
  nav {
    width: 73%;
    /* font-size: 12px; */
  }
}

@media (max-width: 672px) {
  nav {
    display: none;
  }
}
