/* Global */
body {
  color: #183b56;
  /* background: #e5e5e5; */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #183b56;
}
.container {
  width: 85%;
  min-width: 950px;
  max-width: 1080px;
  margin: 0 auto;

  /* border: 1px solid black; */
  overflow: hidden;
}

/* header */

.logo {
  float: left;
}

.logo img {
  height: 50px;
  position: relative;
  top: 10px;
}
nav {
  float: right;
}
nav a {
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  margin-left: 2.5rem;
  margin-top: 0.8rem;
}
nav a img {
  position: relative;
  color: #183b56;

  height: 16px;
  top: 5px;
}

#get_it_now_button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  padding: 0.5rem 1rem;
  text-align: center;

  border: 2px solid #1565d8;
  border-radius: 8px;
  color: #1565d8;
}

/* content */

#wrapper {
  overflow: hidden;
  margin-top: 3rem;
}

/* list_of_contents */

#list_of_contents {
  float: left;
  border: 2px solid #eceef2;
  border-radius: 8px;
}

#list_of_contents a {
  text-decoration: none;
  color: #183b56;
  line-height: 20px;
}
#list_of_contents ul {
  list-style-type: none;
  padding: 0px 0.1rem;
}

#list_of_contents li {
  padding: 10px;
  margin: 10px;
}

#list_of_contents .highlighted {
  background: #00b8d9;
  border-radius: 8px;
}
#list_of_contents img {
  float: right;
  position: relative;
  height: 1rem;
  width: 1rem;
  top: 2px;
  right: 15px;
  background: #183b56;
  color: #ffffff;
}
#list_of_contents .h3 {
  font-size: 16px;
  font-weight: bold;
  color: #183b56;
  line-height: 20px;
  letter-spacing: 0.2px;
}

#list_of_contents #next_step_button {
  background: #1565d8;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 20px;
  margin: 8px 10px;

  text-align: left;
}

#list_of_contents #next_step_button a {
  color: white;
}

#list_of_contents #next_step_button img {
  background: none;
}

/* content in article tag */

#content {
  width: 73%;
  float: right;
  position: relative;
}

#content h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 25px;
}

#content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

#feedback_button {
  position: absolute;
  border: 2px solid #1565d8;
  border-radius: 8px;
  color: #1565d8;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 20px;
  padding: 1px 1rem;
  right: 0;
  top: 0;
}

#feedback_button img {
  position: relative;
  top: 5px;
}

#author_description {
  height: max-content;
  position: relative;
  /* bottom: 10px; */
}
img + span {
  display: inline-block;

  position: absolute;
  margin: 7px 0;
}

#middot {
  color: #b3bac5;
}

article h3 {
  margin-top: 25px;
}

/* settings image  */

.text-color-5a7184 {
  color: #5a7184;
}

.text-color-183b56 {
  color: #183b56;
}

.text-color-white {
  color: white;
}
#settings-image {
  display: flex;
  width: max-content;
  box-shadow: 0px 28px 32px rgba(0, 0, 0, 0.06);
  width: 90%;
  margin-left: 30px;
  margin-bottom: 60px;
}

#settings-image #left {
  padding: 0 20px 50px 20px;
  width: 30%;
  background: #183b56;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
#settings-image #left p {
  font-size: 14px;
  padding: 10px 0px;
}
#settings-image #right {
  padding: 0 30px 50px 30px;
  font-size: 14px;

  width: 600px;
  background: white;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
#settings-image #right p {
  font-size: 14px;
  margin: 10px 0px 40px 20px;
  line-height: 30px;
}

#settings-image div strong:first-child {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 25px 0px;
}

#settings-image #right img {
  float: right;
  position: relative;
  top: 30px;
}

#settings-image #left img {
  /* border: 1px solid black; */
  position: relative;
  top: 5px;
  margin-right: 10px;
}

#settings-image .checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

#settings-image button {
  border-radius: 8px;
  border: none;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
  margin-top: 30px;
}

/* buttons */
#apply-change {
  color: white;
  background: #00b8d9;
}

#cancel {
  background: rgb(179, 186, 197, 0.2);
  color: #5a7184;
}

/* commands */
.commands_container {
  border-radius: 8px;
  /* border: 1px solid black; */
  overflow: hidden;
  background: rgb(179, 186, 197, 0.2);
  width: 95%;
  position: relative;
  left: 33px;
  margin-bottom: 20px;
}

.commands_container div {
  float: left;
  padding: 15px 20px;
}
.cnum {
  background: rgb(179, 186, 197, 0.3);
  border-radius: 8px;
}

.commands_container a {
  color: #00b8d9;
}

/*code image using div and li */

#code-container {
  /* border: 1px solid black; */
  overflow: hidden;
  width: max-content;
  margin-left: 30px;
}
#code-container ul {
  margin: 20px 10px;
  padding: 0;

  list-style-type: none;
}

#code-container li {
  padding: 5px 0;
}

/* To use li for large numbers width needs to be */
#code-container .serial-number {
  /* border: 1px solid black; */
  background: rgb(179, 186, 197, 0.4);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: max-content;
  float: left;
}

#code-container .code {
  /* width: max-content; */
  float: left;
  background: rgb(179, 186, 197, 0.2);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0px;
}

#code-container .code ul {
  margin-right: 100px;
}
/* The list-style-type column is kinda removed(check) when the padding is added to ul */
#code-container .serial-number li {
  text-align: center;
}

#code-container .code li {
  margin: 0 auto;
  /* border: 1px solid black; */
}
/* basic code image  */

#descon_link {
  color: #00b8d9;
}

/* network details image*/
#network {
  display: flex;
  background: #183b56;
  color: white;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-right: 20px;
  width: max-content;
  border-radius: 16px;
  margin-left: 30px;
  margin-bottom: 60px;
}

#network ul {
  list-style-type: none;
  padding-left: 10px;
}

#network div:last-of-type {
  padding-left: 20px;
}

#network li:last-child {
  padding-top: 30px;
}

#network li:first-child {
  padding-bottom: 30px;
}

.text-green {
  color: #36b37e !important;
}

#network .align-right {
  width: 390px;
  text-align: right;
}
#network li {
  padding: 0 0px 10px 20px;
}

#network .br-right {
  border-right: 1px solid #2f4e67;
}

/* Navbar image */
#nav-bar-image {
  padding: 0px;
  color: white;
  background: #183b56;
  border-radius: 16px;

  margin-left: 30px;
}

#nav-bar-image ul {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
}
#nav-bar-image li {
  font-size: 16px;
  display: inline-block;
  /* border: 1px solid black; */
  margin: 10px 8px;
  padding: 10px 10px;
  line-height: 20px;
}
#nav-bar-image li:first-of-type {
  margin-right: 30px;
  margin-left: 10px;
  font-size: 14px;
}

#nav-bar-image li:last-of-type {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
}
#nav-bar-image img {
  position: relative;
  top: 2px;
  margin-right: 10px;
  height: 12px;
}

/* section */
#other_links {
  margin-top: 100px;
}

#other_links .container div {
  width: 20%;
}

#other_links img + p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  margin-top: 5px;
  color: #5a7184;
}

.social_media_links {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: rgb(90, 113, 132, 0.2);
  margin-right: 10px;
  border-radius: 2000px;
  margin-top: 25px;
  position: relative;
  bottom: 5px;
}
.social_media_links img {
  position: absolute;
  /* border: 1px solid black; */
  height: 15px;
  width: 15px;
  top: 25%;
  left: 28%;
}

#other_links .container {
  display: flex;
  justify-content: space-between;
}

#other_links ul {
  list-style-type: none;

  margin: 0px;
  padding-left: 30px;
}

#other_links ul :first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  margin-top: 0px;
}

#other_links li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0;
  padding: 5px 0;
}

/* footer */

footer {
  margin-top: 1rem;
  padding: 2rem 0;
  text-align: center;
}
footer div {
  background: #1576d8;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}

footer div img {
  position: absolute;
  top: 30%;
  left: 25%;
}
