form {
  font-size: 1.4rem;
}
fieldset {
  width: 500px;
  margin: 0 auto;
}
#mupload_label {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: rgb(80, 171, 137);
  font-size: 2rem;
}

#mupload_label:hover {
  cursor: pointer;
}
