* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 100px 400px;
}
button {
  height: 50px;
  width: 200px;
  /* position: absolute; */
  margin: 0 auto;
}

.dropdown-options {
  width: 298px;
  height: 30px;

  color: darkblue;
  /* border-bottom: 1px solid black; */
  background: lightblue;
  /* position: relative; */
  /* z-index: 2; */
}

.dropdown-options:hover {
  /* transform: scale(1.02); */
  background: rgb(9, 9, 87);
  color: white;
  /* border-radius: 5px; */
  cursor: pointer;
}

.dropdown-content {
  width: 300px;
  position: relative;
  top: 14px;
  display: none;
  border: 1px solid black;
  z-index: 1;
}

.dropdown-content::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: lightblue;
  position: absolute;
  top: -11px;
  left: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(-45deg);
  z-index: -1;
}
.container {
  width: 200px;
  /* border: 1px solid black; */
}
.container:hover .dropdown-content {
  display: block;
}
/* .shape::before {
  content: "";
  border-radius: 10px;
  border-left: 100px solid black;
  border-right: 100px solid black;
  border-bottom: 40px solid transparent;
}
.shape::after {
  content: "";
  border-left: 100px solid black;
  border-right: 100px solid black;
  border-top: 40px solid transparent;
} */
