body {
  padding: 100px 400px;
}
button {
  height: 50px;
  width: 200px;
}

.dropdown-options {
  width: 200px;
  height: 30px;
  /* border: 1px solid black; */
  /* border-bottom: 1px solid black; */
  background: lightblue;
  color: darkblue;
  border-bottom: 1px solid black;
}

.dropdown-options:hover {
  transform: scale(1.02);
  background: rgb(9, 9, 87);
  color: white;
  border-radius: 5px;
}
.dropdown-options:first-child:hover .dropdown-content::before {
  border-bottom: 26px solid rgb(9, 9, 87);
}

.dropdown-content {
  width: 200px;
  position: relative;
  top: 25px;
  display: none;
  /* border-color: lightblue; */
}
.dropdown-content::before {
  position: absolute;
  content: "";

  border-bottom: 26px solid lightblue;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;

  top: -25%;
  left: 75%;
}

.container {
  width: 200px;
  /* border: 3px solid black; */
}
.container:hover .dropdown-content {
  display: block;
}

/* .shape::before {
  content: "";
  border-radius: 10px;
  border-left: 100px solid black;
  border-right: 100px solid black;
  border-bottom: 40px solid transparent;
}
.shape::after {
  content: "";
  border-left: 100px solid black;
  border-right: 100px solid black;
  border-top: 40px solid transparent;
} */
