* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 100px 400px;
}
button {
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.dropdown-options {
  width: 288px;
  height: 0px;
  padding: 10px;
  color: darkblue;
  position: relative;
}

.dropdown-options:hover {
  background: rgb(9, 9, 87);
  color: white;
  cursor: pointer;
}

.dropdown-content {
  width: 298px;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;

  /* position: relative; */
  /* position: absolute; */

  /* top: 20px; */
  /* display: none; */
  background: lightblue;
  /* z-index: 5; */
  border-radius: 5px;
}
/* .dropdown-content::-webkit-scrollbar {
  display: none;
} */
.dropdown-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur;
  /* opacity: 0.3; */
  border-radius: 5px;
}

.dropdown-content::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

.dropdown-content::-webkit-scrollbar-thumb {
  width: 7px;
  background: white;
  border-radius: 5px;
}

.dc-container {
  position: relative;
  display: none;
  border: 1px solid black;
  top: 15px;
  width: 300px;
  border-radius: 5px;
  /* opacity: 1; */
}
.dc-container::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: lightblue;
  position: absolute;
  top: -11px;
  left: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(-45deg);
  /* z-index: 2; */
}
.container {
  width: 200px;

  /* border: 1px solid black; */
}
.container:hover .dc-container {
  display: block;
}

.dropdown-options:hover {
  border-radius: 3px;
}
.dropdown-content:first-child:hover .dc-container::after {
  background-color: darkblue;
}

/* .dropdown-options:first-of-type:hover .dropdown-content::before {
  background-color: darkblue;
} */
/* .shape::before {
  content: "";
  border-radius: 10px;
  border-left: 100px solid black;
  border-right: 100px solid black;
  border-bottom: 40px solid transparent;
}
.shape::after {
  content: "";
  border-left: 100px solid black;
  border-right: 100px solid black;
  border-top: 40px solid transparent;
} */
